
 <!-- horizontal menu  -->
 <header ng-controller="LoginController">
    <nav class="navbar navbar-default navbar-static-top m-b-0" style="z-index: 111; position: fixed;">
        <div class="navbar-header">
            <div class="top-left-part">
                <!-- Logo -->
                <a class="logo" ui-sref="auth.rowlot" href="javascript:;">
 </a>
            </div>
            
            <!-- Search input and Toggle icon -->
            <ul class="nav navbar-top-links navbar-left">
                <li><a href="javascript:void(0)" class="open-close waves-effect waves-light"><i class="ti-menu"></i></a></li>
     
                <!-- .Task dropdown -->
    

            </ul>
            
            
             <!-- /Logo -->
                    <div class="text-center" style="padding:14px;">
                         <img src="../plugins/images/logo-menu.png" alt="home" class="dark-logo"> </div>
          


            <ul class="nav navbar-top-links navbar-right pull-right" ng-controller="RowlotController" style="position: relative;
    text-align: right;
    width: 5%;
    margin-bottom: -55px;
    MARGIN-TOP: -55px;">
 
                <li class="dropdown">
                    <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href=""> <b class="hidden-xs">HCI</b><span class="caret"></span> </a>
                    <ul class="dropdown-menu dropdown-user animated flipInY">
                        <li>
                            <div class="dw-user-box">
                                <div class="u-text"><h4><a ui-sref="auth.rowlot-profile" class="waves-effect">{{profile.Nombre}} {{profile.Apellido}}</a></h4><p class="text-muted">{{profile.email}}</p></div>
                            </div>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#"><i class="ti-user"></i> Informacion del curso</a></li>


                        <li role="separator" class="divider"></li>

                        <li><a id="logout-user" href="javascript:;" ng-click="logout()"><i class="fa fa-power-off"></i> Cerrar Sesión</a></li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>

                <!-- /.dropdown -->
            </ul>
        </div>
        <!-- /.navbar-header -->
        <!-- /.navbar-top-links -->
        <!-- /.navbar-static-side -->
    </nav>
    </header>


