<!-- .menu vertical  -->
<div class="navbar-default sidebar" role="navigation" ng-controller="RowlotController">
    <img src="views/common/menu.png"
         style="
                width: 280px;
                height: 100%;
                position: absolute;
                ">
    <div class="sidebar-nav slimscrollsidebar">



        <ul class="nav" id="side-menu" style="color:#fff">
            <li> <a ui-sref="auth.rowlot-profile" class="waves-effect">
                <div class="overlay-box">
                    <div class="user-bg">
                        <div class="overlay-box"><div class="user-content">
                            <img src="{{profile.profile_picture}}" class="thumb-lg img-circle" alt="img"> <br>

                            <h4 style="color:#fff"> {{profile.Nombre}} {{profile.Apellido}}</h4>



                            </div>
                        </div>
                        </div>
                        </div>
                </a>
            </li>

            <li> <a ui-sref="auth.rowlot" class="waves-effect"><img src="plugins/images/ranking.png" alt="Smiley face" height="22" width="22" style="margin-right: 10px;"> <span class="hide-menu">Ranking</span></a>
            </li>

            <li> <a ui-sref="auth.rowlot-listtask" class="waves-effect"><img src="plugins/images/task.png" alt="Smiley face" height="25" width="25" style="margin-right: 10px;"> <span class="hide-menu">Lista</span></a>
            </li>

            <li> <a ui-sref="auth.calendar" class="waves-effect"><img src="plugins/images/calendar.png" alt="Smiley face" height="22" width="22" style="margin-right: 10px;"> <span class="hide-menu">Canlendario</span></a>
            </li>

            <li> <a ui-sref="auth.rowlot-biblioteca" class="waves-effect"><img src="plugins/images/book.png" alt="Smiley face" height="22" width="22" style="margin-right: 10px;"><span class="hide-menu">Biblioteca</span></a>
            </li>


            <!--    <li class="devider"></li>-->


            <li><a href="documentation.html" class="waves-effect"><img src="plugins/images/doc.png" alt="Smiley face" height="22" width="22" style="margin-right: 10px;">Documentación</span></a></li>
            <!-- <li><a href="faq.html" class="waves-effect"><i class="fa fa-circle-o text-success"></i> <span class="hide-menu">Ayuda</span></a></li-->
        </ul>

    </div>
</div>
<!--
<script src="vendor/jquery.min.js"></script>
 Bootstrap Core JavaScript
<script src="vendor/bootstrap.min.js"></script>
 Menu Plugin JavaScript -->
<script src="vendor/sidebar-nav.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="vendor/custom.min.js"></script>
