<div id="page-wrapper" ng-init="func.init()">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-12">
                <h4 class="page-title">{{unidad.title}}</h4>
            </div>
        </div>
        <div class="white-box">
            <div class="col-12">
                <div class="unidades">
                    <div class="panel">
                        <div class="p-20">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h3 class="m-t-0 font-medium">RESUMEN {{task.title}}</h3>
                                    <span class="text-muted" ng-if="showStudent">Entrega:{{task.fecha}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <ul>
                                <li >PORCENTAJE: <span class="text-muted">{{(task.porcentaje)? task.porcentaje : "No tiene un porcentaje."}}</span></li>
                                <br>
                                <br>
                                <li>DESCRIPCION:
                                    <br>
                                    <span class="text-muted">
                        {{task.description}}
                    </span>
                                </li>
                                <li ng-if="showStudent">CALIFICACIÓN: <span class="text-muted">{{(task.calificacion)? task.calificacion : "No tiene una calificación."}} </span></li>
                                <br>
                                <li ng-if="showStudent">ENTREGADO: <span class="text-muted">{{(task.entregado)? task.entregado : "No"}}</span></li>
                            </ul>
                        </div>
                        <div ng-show="showStudent && !task.entregado">
                            <h3 class="box-title m-b-0">Entregar Tarea </h3>
                            <form action="#" class="dropzone">
                                <div class="fallback">
                                    <input id="file" type="file" /> </div>
                            </form>
                            <button ng-click="func.sendFile()" target="_blank" class="btn btn-danger pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">Enviar</button>
                        </div>
                        <h3 class="box-title m-b-0">Entrega de la Tarea </h3>
                        <div class="row">
                            <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12" ng-repeat="file in dataFileStudent">
                                <img class="img-responsive" alt="user" src="plugins/images/pdfu.jpg">
                                <div class="white-box" style="padding: 1px 10px 25px;border-radius: 5px;">
                                    <h4 class="m-t-20 m-b-20"><strong>{{file.profile.Nombre}} {{file.profile.Apellido}}</strong></h4>
                                    <h6 class="m-t-20 m-b-20"><strong>Calificación:</strong> {{(file.calificacion)? file.calificacion : "No tiene una calificación."}}</h6>
                                    <h6 class="m-t-20 m-b-20"><strong>Fecha entrega:</strong>{{file.fecha}}</h6>
                                    <div class="btn-group">
                                        <a class="btn btn-success" href="{{file.downloadurl}}">Descargar</a>
                                        <button class="btn btn-info" ng-click="func.showModalFile(file,$index); " ng-show="showTeacher">Editar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="fileSelected" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{{fileSelected.profile.Nombre}} {{fileSelected.profile.Apellido}}</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Calificación</label>
                        <input type="text" ng-model="fileSelected.calificacion" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Calificación del estudiante en la tarea">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" ng-click="func.putFileSelected()">Aceptar</button>
            </div>
        </div>
    </div>
</div>
<!-- acordeon -->
