<div id="page-wrapper" ng-init="func.init()">
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-12">
        <pre>{{task}}</pre>
        <h4 class="page-title">{{unidad.title}}</h4>
      </div>
    </div>
    <div class="white-box">
      <div class="col-12">
        <div class="unidades">
          <div class="panel">
            <div class="p-20">
              <div class="row">
                <div class="col-xs-6">
                  <h3 class="m-t-0 font-medium">RESUMEN {{task.title}}</h3>
                  <span class="text-muted">Entrega:{{task.fecha}}</span>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <ul>
                <li>PORCENTAJE: <span class="text-muted">{{(task.porcentaje)? task.porcentaje : "No tiene un porcentaje."}}</span></li><br>
                <li>CALIFICACIÓN: <span class="text-muted">{{(task.calificacion)? task.calificacion : "No tiene una calificación."}} </span></li><br>
                <li>ENTREGADO: <span class="text-muted">{{(task.entregado)? task.entregado : "No"}}</span></li><br>
                <li>DESCRIPCION: <br>
                  <span class="text-muted">
                        {{task.description}}
                    </span>
                </li>
              </ul>
            </div>
            <div ng-show="showStudent">
              <h3 class="box-title m-b-0">Entregar Tarea </h3>
              <form action="#" class="dropzone">
                <div class="fallback">
                  <input id="file" type="file" /> </div>
              </form>
              <button ng-click="func.sendFile()" target="_blank" class="btn btn-danger pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">Enviar</button>
            </div>
            <div ng-show="showTeacher">
              <h3 class="box-title m-b-0">Entrega de la Tarea </h3>
              <div class="row">
                <div class="col-md-2 col-lg-2 col-xs-12 col-sm-8"> <img class="img-responsive" alt="user" src="plugins/images/pdfu.jpg">
                  <div class="white-box" style="padding: 1px 10px 25px;border-radius: 5px;">
                    <h3 class="m-t-20 m-b-20">Daniela Sanchez - Goings</h3>
                    <button class="btn btn-success btn-rounded waves-effect waves-light m-t-20">Descargar</button>
                  </div>
                </div>
                <div class="col-md-2 col-lg-2 col-xs-12 col-sm-8"> <img class="img-responsive" alt="user" src="plugins/images/pdfu.jpg">
                  <div class="white-box" style="padding: 1px 10px 25px;border-radius: 5px;">
                    <h3 class="m-t-20 m-b-20">Juan Londoño - MochilApp</h3>
                    <button class="btn btn-success btn-rounded waves-effect waves-light m-t-20">Descargar</button>
                  </div>
                </div>
                <div class="col-md-2 col-lg-2 col-xs-12 col-sm-8"> <img class="img-responsive" alt="user" src="/plugins/images/pdfu.jpg">
                  <div class="white-box" style="padding: 1px 10px 25px;border-radius: 5px;">
                    <h3 class="m-t-20 m-b-20">Ana Martinez - Changer</h3>
                    <button class="btn btn-success btn-rounded waves-effect waves-light m-t-20">Descargar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>










<!-- acordeon -->
